.pezzaturaB{
  margin-top: 0.2rem;
}
.cardBody {
  background-color: #99cc00;
  border-radius: 0.5rem;
  width: 80%;
  height: 11rem;
  display: flex;
  justify-content: center;
}

.fishName {
  padding-top: 1rem;
  font-size: large;
  font-weight: bold;
  margin-bottom: 1.2rem;
}

.marginBottom{
  margin-bottom: 2.5rem;
}

