.cardPeso {
  width: 90%;
  background-color: #99cc00;
  border-radius: 0.5rem;
}

.center{
  display: flex;
  justify-content: center;
}

.title {
  font-size: xx-large;
  font-weight: bolder;
}

.currence {
  font-size: x-large;
  font-weight: bold;
}

.pesoB{
  border-radius: 0.3rem !important;
  margin-bottom: 1.5rem;
  margin-right: 0.2rem;
}

.dropDown{
  width: 10rem;
  margin-bottom: 1.5rem;
  margin-right: 0.5rem;
}
