.cardPeso {
  width: 90%;
  margin-left: 4.5rem;
  background-color: #99cc00;
  border-radius: 0.5rem;
  /* height: 10rem; */
}

.title {
  padding-top: 1rem;
  font-size: xx-large;
  font-weight: bolder;
}

.currence {
  font-size: x-large;
  font-weight: bold;
}

.pesoB{
  margin-bottom: 1.5rem;
  margin-right: 0.2rem;
}

.dropDown{
  width: 10rem;
  margin-bottom: 1.5rem;
  margin-right: 0.5rem;
}
