.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.singleColumnStyle {
  margin-right: 5rem;
  margin-bottom: 3rem;
  width: 20%;
}

.cascade{
  width: 14rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.pezzaturaB{
  border-radius: 0.3rem !important;
  margin-bottom: 2.5rem;
}

.marginBottomLow{
  margin-bottom: 2rem;
  color:    #3b4044;
}