.header {
    width: 95%;
    background-color:#99cc00;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 4rem;
    border-radius: 0.5rem;
}

.stamp{
    margin-top: 0.7rem !important;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
    border-radius: 0.3rem !important;
}

.blue{
    background:   #001a66 !important;
    border-color:  #001a66 !important;
}

.red{
    background:   #990000 !important;
    border-color:  #990000 !important;
}

.green{
    background:   #006600 !important;
    border-color:  #006600 !important;
}