.singleRiepStyle{
  width: 20%;
}

.centerRiep {
  display: flex; 
  justify-content: center;
}

.centerTable {
  margin-right: 0.4rem; 
  margin-left: 0.4rem;
}

.doubleRiepStyle{
  width: 30%;
}

.p-datatable .p-datatable-thead > tr > th {
  background-color: #86b300;
  color: white;
}

.p-row-odd{
  background:  #dfff80 !important;
  color: black !important;
}

.p-datatable .p-datatable-tbody > tr {
  background:#ecffb3;
  color: black;
}

.p-datatable .p-datatable-tbody > tr > td {
  border-color: black;
}

.p-datatable-header{
  background: #86b300 !important;
  color:white !important;
  font-size: x-large;
  font-weight: bolder;
  border-top: #86b300 !important;
}

.dayR{
  display: none;
}