/* 
@media print{
  .toPrint {
    background-color: red;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 15px;
    font-size: 14px;
    line-height: 18px;
} 
}*/
@media print {
  .toPrint {
    background-color: red !important;
  }
  .singleRiepStyle {
    width: 100% !important;
    margin-bottom: 0.5cm;
    page-break-after: always;
  }
  .doubleRiepStyle {
    width: 98% !important;
    margin-bottom: 0.5cm;
    page-break-after: always;
  }
  .centerRiep {
    display: block !important;
  }
  .p-datatable .p-datatable-tbody > tr > td {
    border-width: 2px !important;
    border-color: black;
  }

  .dayR{
    display: block !important;
    font-size: 10rem !important;
  }

  /* .makeInvAfter{
    display: none;
  } */
}

@page {
  size: 210mm 297mm;
  margin-top: 0.2cm;
  margin-left: 0.5cm;
  margin-right: 0.5cm;
  display: block;
}
